<%= render 'partial/navbar' %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Conversations
                </div>            
                <% @conversations.each do |conversation| %>
                    <% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
                    <% if !conversation.messages.blank? %>
                        <div class="panel-body panel-conversation">
                            <div class="row">
                                <div class="col-md-2 text-center row-space-1">
                                    <%= image_tag other.image, class: "img-circle profile-1" %><br>
                                    <strong><%= other.name %></strong> 
                                </div>
                                <%= link_to conversation_messages_path(conversation) do %>
                                    <div class="col-md-8">
                                        <%= conversation.messages.last.body %>
                                    </div>
                                <% end %>
                                <div class="col-md-2">
                                    <%= conversation.messages.last.message_time %>
                                </div>    
                            </div>
                        </div>
                        <hr>
                    <% end %>
                <% end %>   
            </div>    
        </div>
    </div>    
</div>